@page "/app/about/info"
@page "/app/about/info/{Id}"
@inherits ProCompontentBase

<MRow>
    <MCol Md="8">
        <MCard Height="298" class="pt-2 pb-2">
            <MCardText>
                <MRow>
                    <MCol Cols="@("auto")">
                        <div style="width:300px;" class="text-center">
                            @if (string.IsNullOrEmpty(UserData.HeadImg))
                            {
                                string color = UserData.Color;
                                <MAvatar Size="120" Color="@($"{color}-lighten-5")">
                                    <span class="@($"{color}--text text-h3")">@UserData.SampleName</span>
                                </MAvatar>
                            }
                            else
                            {
                                <MAvatar Size="120">
                                    <MImage Contain Src="@UserData.HeadImg" />
                                </MAvatar>
                            }
                            <h5 class="mt-1">@UserData.FullName</h5>
                            <span class="mt-1 text-caption">@UserData.Email</span>
                            <MRow NoGutters class="mt-4">
                                <MCol Md="6" class="text-center">
                                    <h5>@UserData.Sales</h5>
                                    <span class="text-body2">Monthly Sales</span>
                                </MCol>
                                <MCol Md="6" class="text-center">
                                    <h5>@UserData.Profit</h5>
                                    <span class="text-body2">Annual Profit</span>
                                </MCol>
                            </MRow>
                        </div>
                    </MCol>
                    <MDivider Vertical />
                    <MCol class="ml-3 d-flex flex-column">
                        <div class="mb-3 d-flex justify-space-between">
                            <span class="text-body2 neutral-lighten-1--text">
                                <MIcon Small class="mr-2" Color="neutral-lighten-1">mdi-account-outline</MIcon>Username
                            </span>
                            <span class="text-caption">@UserData.UserName</span>
                        </div>
                        <div class="mb-3 d-flex justify-space-between">
                            <span class="text-body2 neutral-lighten-1--text">
                                <MIcon Small class="mr-2" Color="neutral-lighten-1">mdi-check</MIcon>Status
                            </span>
                            <span class="text-caption">@UserData.Status</span>
                        </div>
                        <div class="mb-3 d-flex justify-space-between">
                            <span class="text-body2 neutral-lighten-1--text">
                                <MIcon Small class="mr-2" Color="neutral-lighten-1">mdi-star-outline</MIcon>Role
                            </span>
                            <span class="text-caption">@UserData.Role</span>
                        </div>
                        <div class="mb-3 d-flex justify-space-between">
                            <span class="text-body2 neutral-lighten-1--text">
                                <MIcon Small class="mr-2" Color="neutral-lighten-1">mdi-flag-outline</MIcon>Country
                            </span>
                            <span class="text-caption">@UserData.Country</span>
                        </div>
                        <div class="mb-3 d-flex justify-space-between">
                            <span class="text-body2 neutral-lighten-1--text">
                                <MIcon Small class="mr-2" Color="neutral-lighten-1">mdi-phone-outline</MIcon>Contact
                            </span>
                            <span class="text-caption">@UserData.Contact</span>
                        </div>
                        <div class="flex-grow-1 d-flex align-end">
                            <MButton MinWidth="100" class="primary rounded-pill">Edit</MButton>
                            <MButton Outlined MinWidth="100" Color="red" class="ml-6 rounded-pill">Delete</MButton>
                        </div>
                    </MCol>
                </MRow>
            </MCardText>
        </MCard>
    </MCol>
   
</MRow>



<DotNetFps.Pages.App.Invoice.Components.InvoiceList />

@code {
    private List<DataTableHeader<PermissionDto>> _headers = new List<DataTableHeader<PermissionDto>>
{
new (){ Text= "MODULE", Sortable= false, Value= nameof(PermissionDto.Module)},
new (){ Text= "READ", Sortable= false, Value= nameof(PermissionDto.Read),Align="center"},
new (){ Text= "WRITE", Sortable= false, Value= nameof(PermissionDto.Write),Align="center"},
new (){ Text= "CREATE", Sortable= false, Value= nameof(PermissionDto.Create),Align="center"},
new (){ Text= "DELETE", Sortable= false, Value= nameof(PermissionDto.Delete),Align="center"}
};
    private List<PermissionDto> _permissions = UserService.GetPermissionsList();
    private UserDto? _userData;

    [Parameter]
    public string? Id { get; set; }

    [AllowNull]
    public UserDto UserData
    {
        get
        {
            return _userData ?? UserService.GetList().First();
        }
        set
        {
            _userData = value;
        }
    }

    protected override void OnParametersSet()
    {
        UserData = UserService.GetList().FirstOrDefault(u => u.Id == Id);
    }
}